h1 {
  text-align: center;
}

form {

  width: 800px;
  margin: auto;
  display: flex;
  gap: 20px;
}

input {
  flex-basis: 70%;
}

button {
  flex-basis: 30%;
}

.todoList {
  width: 700px;
  margin: auto;

}

.todoList ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  padding: 10px 10px 0px 0px;


}

.todoList ul li {
  position: relative;
  right: 0;
  text-align: left;
  background-color: black;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 6px;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}

.todoList ul span {
  position: absolute;
  right: 10px;
  cursor: pointer;
  
}

.completed{
  text-decoration: line-through;
  background-color: aqua !important;
  color: red !important;
}